# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist/
*.build/
.env
.venv/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytype/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Editors/IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if any)
node_modules/
npm-debug.log*

# Misc
*.swp
*.swo

# Local runtime
*.sqlite